/* components/Footer.css */

.footer {
    background-color: #dcdcdcb4;
    margin          : 20px 0px 0px 20px;
    padding         : 20px;
    border-radius: 10px;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-section {
    flex: 1;
    padding: 20px;
  }
  
  .footer-section h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .footer-section p {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 5px;
  }
  
  .footer-section ul li a {
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s;
  }
  
  .footer-section ul li a:hover {
    color: #0056b3;
  }
  
  .newsletter-form {
    display: flex;
  }
  
  .newsletter-form input[type="email"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
  }
  
  .newsletter-form button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .newsletter-form button:hover {
    background-color: #0056b3;
  }
  
  .footer-bottom {
    text-align: center;
    padding-top: 10px;
    border-top: 1px solid #ccc;
  }
  
  .footer-bottom p {
    font-size: 14px;
    color: #666;
  }
  
  /* Responsive styles for smaller devices */
  @media (max-width: 768px) {
    .footer-content {
      flex-direction: column;
    }
  
    .footer-section {
      margin-bottom: 20px;
    }
  
    .newsletter-form {
      flex-direction: column;
    }
  
    .newsletter-form input[type="email"],
    .newsletter-form button {
      border-radius: 5px;
      margin-bottom: 10px;
    }
  
    .newsletter-form button {
      width: 100%;
    }
  }
  