  /* components/Joblist.css */

.job-list-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
}

.horizontal-section {
  flex-basis: calc(50% - 10px);
  margin-bottom: 20px;
}

.dropdown {
  position: relative;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dropdown-header {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1; /* Ensure the dropdown content appears above the header */
}

.dropdown-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-content li {
  padding: 8px 10px;
  cursor: pointer;
}

/* Show dropdown content on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Responsive styles for smaller devices */
@media (max-width: 768px) {
  .job-list-section {
    flex-direction: column;
  }

  .horizontal-section {
    flex-basis: 100%;
  }
}
