/* components/Navbar.css */

.navbar {
  height          : 10vh;
  margin          :  20px ;
  display         : flex;
  justify-content : space-between;
  align-items     : center;
  background-color: transparent;
padding: 0px 40px;
  background-color: #dcdcdcc8;
  border-radius: 10px;
  top: 0;
  left: 0;
  right: 0;
}

.logo {
  font-size: 24px;
  font-weight: bolder;
  color: #000;
  font-weight: bold;
}
.logo span{
  margin : 0;
  padding: 0;
  font-weight: bolder;
  color: red;
}
.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  padding: 5px;
}

.nav-links li a:hover {
  color: #3b90eb;
  text-decoration: underline;
  padding: 5px;
}

.auth-buttons button {
  margin-left: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.login-button {
  border: 0.5px solid #000;
  color: #000;
}

.signup-button {
  background-color: #3b90eb;
  border: none;
  color: #fff;
}

.auth-buttons button:hover {
  background-color: #3b90eb;
}

.close-button {
  display: block;
  margin-top: 10px;
  border: none;
  background-color: #3b90eb;
  color: #fff;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}

/* Responsive styles for smaller devices */
@media (max-width: 768px) {
  .navbar {
  padding-bottom: 20px;
    height: auto;
    background-color: #dcdcdc;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   
  }

  .nav-links {
    display  : flex;
    flex-wrap: wrap;
    display        : flex;
    justify-content: center;
    align-items: center;
    /* align-items   : center; */
  }

  .nav-links li {
    text-decoration: underline;
    padding        : 5px;
   
    margin-left: 0;
    margin-bottom: 10px;
  }

  .nav-links li:hover{
    color: #3b90eb;
    text-decoration: underline;
 
  }
  .auth-buttons {
    margin-top: 10px;
    text-align: center;
  }

  .close-button {
    margin-top: 10px;
  }
}
